form.default {
  display: block;
}
form.default.columns-200 {
  -moz-column-width: 200px;
  -webkit-column-width: 200px;
  column-width: 200px;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}
form.default.columns-300 {
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}
form.default.columns-400 {
  -moz-column-width: 400px;
  -webkit-column-width: 400px;
  column-width: 400px;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}
form.default input[type=date],
form.default input[type=email],
form.default input[type=number],
form.default input[type=password],
form.default input[type=text],
form.default input[type=url],
form.default textarea,
form.default select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c3c8cc;
  color: #3c454e;
  display: block;
  margin-top: 10px;
  padding: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
form.default input[type=date]:focus,
form.default input[type=email]:focus,
form.default input[type=number]:focus,
form.default input[type=password]:focus,
form.default input[type=text]:focus,
form.default input[type=url]:focus,
form.default textarea:focus,
form.default select:focus {
  border-color: #24437c;
}
form.default input[type=date].size-s,
form.default input[type=email].size-s,
form.default input[type=number].size-s,
form.default input[type=password].size-s,
form.default input[type=text].size-s,
form.default input[type=url].size-s,
form.default textarea.size-s,
form.default select.size-s {
  min-width: calc(2ex + 20px);
  width: 20%;
}
form.default input[type=date].size-m,
form.default input[type=email].size-m,
form.default input[type=number].size-m,
form.default input[type=password].size-m,
form.default input[type=text].size-m,
form.default input[type=url].size-m,
form.default textarea.size-m,
form.default select.size-m {
  min-width: 200px;
  width: 50%;
}
form.default input[type=date].size-l,
form.default input[type=email].size-l,
form.default input[type=number].size-l,
form.default input[type=password].size-l,
form.default input[type=text].size-l,
form.default input[type=url].size-l,
form.default textarea.size-l,
form.default select.size-l {
  min-width: 100%;
}
form.default textarea,
form.default input[type=text] {
  width: 100%;
}
form.default label {
  display: block;
}
form.default label input[type=date],
form.default label input[type=email],
form.default label input[type=number],
form.default label input[type=password],
form.default label input[type=text],
form.default label input[type=url],
form.default label textarea,
form.default label select {
  display: block;
  min-width: 24em;
}
form.default label input[type=number] {
  min-width: 10px;
}
form.default label textarea {
  min-height: 6em;
}
form.default fieldset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #7e92b0;
  float: left;
  margin: 10px 0 10px;
  padding: 10px;
  padding-top: 0px;
  position: relative;
  width: 100%;
  break-before: column;
}
form.default fieldset > legend {
  background-color: #e7ebf1;
  border: none;
  color: #24437c;
  float: left;
  font-size: 12pt;
  font-weight: bold;
  line-height: 2em;
  margin: 0 -10px 1em -10px;
  padding: 0;
  text-indent: 10px;
  width: calc(100% + 20px);
}
form.default fieldset > label {
  margin-top: 10px;
  max-width: 100%;
  text-indent: 0.25ex;
}
form.default fieldset > :first-child:not(legend),
form.default fieldset > legend + * {
  margin-top: 10px;
}
form.default .required {
  font-weight: bold;
}
form.default .required:after {
  content: "*";
  color: red;
}
form.default input[type=radio] {
  margin-right: 10px;
}
form.default footer {
  background-color: #d1d1d1;
  border-top: 1px solid #1e3e70;
  clear: both;
  margin-left: 0;
  padding: 0;
  text-align: center;
}
form.default label.file-upload {
  cursor: pointer;
  padding-left: 30px;
  background-image: url('../../../../../assets/images/icons/blue/upload.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 20px 20px;
}
form.default label.file-upload input[type=file] {
  display: none;
}
form.default label.file-upload .filename {
  padding-left: 0.5em;
  color: #a5adb2;
  font-size: 0.9em;
}
form.default input + .maxlength {
  text-align: right;
  color: #a5adb2;
  font-size: 0.9em;
}
