.column-width(@width) {
    -moz-column-width: @width;
    -webkit-column-width: @width;
    column-width: @width;
}
.column-count(@count) {
    -moz-column-count: @count;
    -webkit-column-count: @count;
    column-count: @count;
}
.column-gap(@gap) {
    -moz-column-gap: @gap;
    -webkit-column-gap: @gap;
    column-gap: @gap;
}
.columns(@width, @count: auto, @gap: 10px) {
    .column-width(@width);
    .column-count(@count);
    .column-gap(@gap);
}

form.default {

    display: block;

    &.columns-200 {
        .columns(200px);
    }
    &.columns-300 {
        .columns(300px);
    }
    &.columns-400 {
        .columns(400px);
    }

    input[type=date], input[type=email], input[type=number],
    input[type=password], input[type=text], input[type=url],
    textarea, select {
        .box-sizing(border-box);

        border: 1px solid @light-gray-color-40;
        color: @dark-gray-color;
        display: block;
        margin-top: 10px;
        padding: 5px;
        .transition(all 0.3s ease-out);

        &:focus {
            border-color: @brand-color-dark;
        }

        &.size-s {
            min-width: ~'calc(2ex + 20px)';
            width: 20%;
        }
        &.size-m {
            min-width: 200px;
            width: 50%;
        }
        &.size-l {
            min-width: 100%;
        }
    }

    textarea, input[type=text] {
        width: 100%;
    }

    label {
        display: block;

        input[type=date], input[type=email], input[type=number],
        input[type=password], input[type=text], input[type=url],
        textarea, select {
            display: block;
            min-width: 24em;
        }

        input[type=number] {
            min-width: 10px;
        }
        textarea {
            min-height: 6em;
        }
    }

    fieldset {
        .box-sizing(border-box);

        border: solid 1px @base-color-60;
        float: left;
        margin: 10px 0 10px;
        padding: 10px;
        padding-top: 0px;
        position: relative;
        width: 100%;

        break-before: column;

        > legend {
            background-color: @fieldset-header;
            border: none;
            color: @brand-color-dark;
            float: left;
            font-size: 12pt;
            font-weight: bold;
            line-height: 2em;
            margin: 0 -10px 1em -10px;
            padding: 0;
            text-indent: 10px;
            width: ~'calc(100% + 20px)';
        }

        > label  {
            margin-top: 10px;
            max-width: 100%;
            text-indent: 0.25ex;
        }

        > :first-child:not(legend), > legend + * {
            margin-top: 10px;
        }
    }

    .required {
        font-weight: bold;
        &:after {
            content: "*";
            color: red;
        }
    }

    input[type=radio] {
        margin-right: 10px;
    }

    footer {
        background-color: @table-footer-color;
        border-top: 1px solid @brand-color-darker;
        clear: both;
        margin-left: 0;
        padding: 0;
        text-align: center;
    }


    //Special inputs

    label.file-upload {
        cursor: pointer;
        padding-left: 30px;
        background-image: url('../../../../../assets/images/icons/blue/upload.svg');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 20px 20px;
        input[type=file] {
            display: none;
        }
        .filename {
            padding-left: 0.5em;
            color: @light-gray-color-60;
            font-size: 0.9em;
        }
    }

    input + .maxlength {
        text-align: right;
        color: @light-gray-color-60;
        font-size: 0.9em;
    }

}