form.default {
  display: block;
}
form.default.columns-200 {
  -moz-column-width: 200px;
  -webkit-column-width: 200px;
  column-width: 200px;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}
form.default.columns-300 {
  -moz-column-width: 300px;
  -webkit-column-width: 300px;
  column-width: 300px;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}
form.default.columns-400 {
  -moz-column-width: 400px;
  -webkit-column-width: 400px;
  column-width: 400px;
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
}
form.default input[type=date],
form.default input[type=email],
form.default input[type=number],
form.default input[type=password],
form.default input[type=text],
form.default input[type=url],
form.default textarea,
form.default select {
  display: block;
  padding: 5px;
  border: 1px solid #c3c8cc;
  color: #3c454e;
  margin-top: 10px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
form.default input[type=date]:focus,
form.default input[type=email]:focus,
form.default input[type=number]:focus,
form.default input[type=password]:focus,
form.default input[type=text]:focus,
form.default input[type=url]:focus,
form.default textarea:focus,
form.default select:focus {
  outline: none;
  border-color: #24437c;
}
form.default textarea,
form.default input[type=text] {
  width: 100%;
}
form.default textarea.size-l,
form.default input.size-l,
form.default select {
  min-width: 100%;
}
form.default textarea.size-m,
form.default input.size-m,
form.default select {
  width: 50%;
  min-width: 200px;
}
form.default textarea.size-s,
form.default input.size-s,
form.default select {
  min-width: calc(2ex + 20px);
  width: 20%;
}
form.default .caption {
  font-weight: bold;
  color: #24437c;
  font-size: 11pt;
}
form.default label {
  display: block;
}
form.default label input[type=date],
form.default label input[type=email],
form.default label input[type=number],
form.default label input[type=password],
form.default label input[type=text],
form.default label input[type=url],
form.default label textarea,
form.default label select {
  display: block;
  min-width: 24em;
}
form.default label input[type=number] {
  min-width: 10px;
}
form.default label textarea {
  min-height: 6em;
  box-sizing: border-box;
}
form.default fieldset {
  position: relative;
  border: solid 1px #7e92b0;
  padding: 10px;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  padding-top: 0px;
  box-sizing: border-box;
  break-before: column;
}
form.default fieldset > legend {
  background-color: #e7ebf1;
  color: #24437c;
  margin-top: 1em;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 20px);
  border: none;
  line-height: 2em;
  font-size: 12pt;
  font-weight: bold;
  text-indent: 10px;
  float: left;
}
form.default fieldset > label,
form.default fieldset > div {
  margin-top: 10px;
  text-indent: 0.25ex;
  max-width: 100%;
}
form.default fieldset > button {
  margin-left: 10px;
}
form.default fieldset > :first-child:not(legend),
form.default fieldset > legend + * {
  margin-top: 10px;
}
form.default .required {
  font-weight: bold;
}
form.default .required:after {
  content: "*";
  color: red;
}
form.default div input[type=date],
form.default div input[type=email],
form.default div input[type=number],
form.default div input[type=password],
form.default div input[type=text],
form.default div input[type=url],
form.default div textarea,
form.default div select {
  display: inline;
}
form.default input[type=radio] {
  margin-right: 10px;
}
form.default select {
  height: 30px;
}
form.default .submit_wrapper {
  padding: 0;
  margin-left: 0.5ex;
  background-color: #d1d1d1;
  border-top: 1px solid #1e3e70;
  padding-left: 1.5ex;
}
form.default .studip_input_wrapper {
  padding: 1ex;
}
form.default footer {
  clear: both;
  padding: 0;
  margin-left: 0;
  background-color: #d1d1d1;
  border-top: 1px solid #1e3e70;
  padding-left: 0;
}
